# Build and Release Folders
bin/
bin-debug/
bin-release/
[Oo]bj/ # FlashDevelop obj
[Bb]in/ # FlashDevelop bin

# Other files and folders
.settings/
/All-SQL-8FEB-2016
/AMS+WSDL
/client.entrustgroup.com
/cnp
/eshoppinx
/guru
/hizmetuzmani
/jae
/jobshoppa
/mydealfound
/mydirection
/quoteurjob
/tripezi
/urbanzing
/zeevant.zip

# Executables
*.swf
*.air
*.ipa
*.apk

# Project files, i.e. `.project`, `.actionScriptProperties` and `.flexProperties`
# should NOT be excluded as they contain compiler settings and other important
# information for Eclipse / Flash Builder.
