.dd {
	/*display:inline-block !important;*/

/*	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	float:left;
	color:#0042a2;
	line-height:21px;
	font-size:15px;
	font-family:Calibri;
	padding:6px;
	background:url(../images/select_bg.png) no-repeat;
	background-position:right; loat:left; height:32px; width:269px;margin-top:5px;*/
	background:url(../images/select_box.png) no-repeat left top;
	float:left;
	height:34px;
	/*width:359px;*/
	color:#999;
	/*line-height:34px;*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	padding:8px; 
	/*margin-bottom:24px;*/
}
.dd .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:29px;
	cursor:pointer;
	/*padding:4px 5px;*/

}
/*.dd .ddChild img {
	vertical-align:middle;
	margin:0px 5px;
}
.dd .ddTitle img {
	vertical-align:middle;
	margin-top:6px;
	margin-right:5px;
}
.dd .ddTitle span.textTitle {
	overflow:hidden;
	line-height:24px;
}*/
.dd .ddChild {
	position:absolute;
	text-align:left;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	font-size:12px;
	color:#fff;
	overflow-x:hidden !important;
	background-color:#0197d2;
	border:none;
	/*margin-top:8px;*/ margin-left:-4px;
}
.dd .ddChild a {
	display:block;
	padding:0 10px 0 4px;
	text-decoration:none !important;
	font-family: 'OpenSans-CondensedLight';
	font-size:16px;
	color:#fff !important;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:24px;
}
.dd .ddChild a:hover {
	background:#f3f3f3;
	color:#000 !important;
}
.dd .ddChild a.selected {
	background:#0197d2;
	color:#fff;
}
.hidden {
	display:none;
}
/*.spldd .dd {
	margin:0px 5px;
}
.spldd .dd, .spldd .dd .ddChild {
	background-color: #f3f3f3;
	color:#929090;
	font-size:12px;

}*/

/*1*/
.textfell .dd {
	/*display:inline-block !important;*/

/*	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	float:left;
	color:#0042a2;
	line-height:21px;
	font-size:15px;
	font-family:Calibri;
	padding:6px;
	background:url(../images/select_bg.png) no-repeat;
	background-position:right; loat:left; height:32px; width:269px;margin-top:5px;*/
	background:url(../images/select_box.png) no-repeat left top;
	float:left;
	height:34px;
	/*width:359px;*/
	color:#fff;
	/*line-height:34px;*/
	font-size:16px;
	font-family: 'OpenSans-CondensedLight';
	font-style:normal;
	padding:8px; 
	/*margin-bottom:24px;*/
}
.textfell .dd .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:12px;
	cursor:pointer;
	/*padding:4px 5px;*/

}
.textfell .dd .ddChild img {
	vertical-align:middle;
	margin:0px 5px;
}
.textfell .dd .ddTitle img {
	vertical-align:middle;
	margin-top:6px;
	margin-right:5px;
}
.textfell .dd .ddTitle span.textTitle {
	overflow:hidden;
	/*line-height:24px;*/
}
.textfell .dd .ddChild {
	position:absolute;
	text-align:left;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	font-size:12px;
	color:#fff;
	overflow-x:hidden !important;
	background-color:#0197d2;
	border:none;
	/*margin-top:8px;*/ margin-left:-4px;
}
.textfell .dd .ddChild a {
	display:block;
	padding:0 10px 0 4px;
	text-decoration:none !important;
	font-family: 'OpenSans-CondensedLight';
	font-size:16px;
	color:#fff !important;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:24px;
}
.textfell .dd .ddChild a:hover {
	background:#f3f3f3;
	color:#000 !important;
}
.textfell .dd .ddChild a.selected {
	background:#0197d2;
	color:#fff;
}
.textfell .hidden {
	display:none;
}
.textfell .spldd .dd {
	margin:0px 5px;
}
.textfell .spldd .dd, .spldd .dd .ddChild {
	background-color: #f3f3f3;
	color:#929090;
	font-size:12px;

}

/*2*/
.textfell02 .dd {
	/*display:inline-block !important;*/

/*	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	float:left;
	color:#0042a2;
	line-height:21px;
	font-size:15px;
	font-family:Calibri;
	padding:6px;
	background:url(../images/select_bg.png) no-repeat;
	background-position:right; loat:left; height:32px; width:269px;margin-top:5px;*/
	background:url(../images/select_box.png) no-repeat left top;
	float:left;
	height:34px;
	/*width:359px;*/
	color:#999;
	/*line-height:34px;*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	padding:8px; 
	/*margin-bottom:24px;*/
}
.textfell02 .dd .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:12px;
	cursor:pointer;
	/*padding:4px 5px;*/

}
.textfell02 .dd .ddChild img {
	vertical-align:middle;
	margin:0px 5px;
}
.textfell02 .dd .ddTitle img {
	vertical-align:middle;
	margin-top:6px;
	margin-right:5px;
}
.textfell02 .dd .ddTitle span.textTitle {
	overflow:hidden;
	/*line-height:24px;*/
}
.textfell02 .dd .ddChild {
	position:absolute;
	text-align:left;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	font-size:12px;
	color:#666;
	overflow-x:hidden !important;
	background-color:#fff;
	border:none;
	/*margin-top:8px;*/ margin-left:-4px;
}
.textfell02 .dd .ddChild a {
	display:block;
	padding:0 10px 0 4px;
	text-decoration:none !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#666 !important;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:24px;
}
.textfell02 .dd .ddChild a:hover {
	background:#f3f3f3;
	color:#000 !important;
}
.textfell02 .dd .ddChild a.selected {
	background:#fff;
	color:#666;
}
.textfell02 .hidden {
	display:none;
}
.textfell02 .spldd .dd {
	margin:0px 5px;
}
.textfell02 .spldd .dd, .spldd .dd .ddChild {
	background-color: #f3f3f3;
	color:#666;
	font-size:12px;

}

.sort-div .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:16px;
	cursor:pointer;
	/*padding:4px 5px;*/
}
.select-month-box .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:16px;
	cursor:pointer;
	/*padding:4px 5px;*/
}

.select-month-dropdown .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:14px;
	cursor:pointer;
	/*padding:4px 5px;*/

}

.quick-overview-box .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:14px;
	cursor:pointer;
	/*padding:4px 5px;*/

}

/*****************************************************/

.page-name02 .dd {
	/*display:inline-block !important;*/

/*	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	float:left;
	color:#0042a2;
	line-height:21px;
	font-size:15px;
	font-family:Calibri;
	padding:6px;
	background:url(../images/select_bg.png) no-repeat;
	background-position:right; loat:left; height:32px; width:269px;margin-top:5px;*/
	background:url(../images/select_box.png) no-repeat left top;
	float:left;
	height:34px;
	/*width:359px;*/
	color:#999;
	/*line-height:34px;*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	padding:8px; 
	/*margin-bottom:24px;*/
}
.page-name02 .dd .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:14px !important;
	cursor:pointer;
	/*padding:4px 5px;*/

}
.page-name02 .dd .ddChild {
	position:absolute;
	text-align:left;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	font-size:12px;
	color:#fff;
	overflow-x:hidden !important;
	background-color:#0197d2;
	border:none;
	/*margin-top:8px;*/
}
.page-name02 .dd .ddChild a {
	display:block;
	padding:0 10px 0 4px;
	text-decoration:none !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff !important;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:24px;
	float:left !important;
}
.page-name02 .dd .ddChild a:hover {
	background:#f3f3f3;
	color:#000 !important;
}
.page-name02 .dd .ddChild a.selected {
	background:#0197d2;
	color:#fff;
}


/*****************************************************/

.light-box .dd {
	/*display:inline-block !important;*/

/*	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	float:left;
	color:#0042a2;
	line-height:21px;
	font-size:15px;
	font-family:Calibri;
	padding:6px;
	background:url(../images/select_bg.png) no-repeat;
	background-position:right; loat:left; height:32px; width:269px;margin-top:5px;*/
	background:url(../images/select_box.png) no-repeat left top;
	float:left;
	height:34px;
	/*width:359px;*/
	color:#999;
	/*line-height:34px;*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	padding:8px;
	margin-top:8px; 
	/*margin-bottom:24px;*/
}
.light-box .dd .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:18px !important;
	cursor:pointer;
	/*padding:4px 5px;*/

}
.light-box .dd .ddChild {
	position:absolute;
	text-align:left;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	font-size:12px;
	color:#fff;
	overflow-x:hidden !important;
	background-color:#0197d2;
	border:none;
	/*margin-top:8px;*/
}
.light-box .dd .ddChild a {
	display:block;
	padding:0 10px 0 4px;
	text-decoration:none !important;
	font-family: 'OpenSans-CondensedLight';
	font-size:16px;
	color:#fff !important;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:24px;
	float:left !important;
}
.light-box .dd .ddChild a:hover {
	background:#f3f3f3;
	color:#000 !important;
}
.light-box .dd .ddChild a.selected {
	background:#0197d2;
	color:#fff;
}


/*************************************************************/

.form-left-box .dd {
	/*display:inline-block !important;*/

/*	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	float:left;
	color:#0042a2;
	line-height:21px;
	font-size:15px;
	font-family:Calibri;
	padding:6px;
	background:url(../images/select_bg.png) no-repeat;
	background-position:right; loat:left; height:32px; width:269px;margin-top:5px;*/
	background:url(../images/select_box.png) no-repeat left top;
	float:left;
	height:21px;
	/*width:359px;*/
	color:#999;
	/*line-height:34px;*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	padding:8px; 
	/*margin-bottom:24px;*/
}
.form-left-box .dd .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:17px;
	cursor:pointer;
	/*padding:4px 5px;*/

}
/*.dd .ddChild img {
	vertical-align:middle;
	margin:0px 5px;
}
.dd .ddTitle img {
	vertical-align:middle;
	margin-top:6px;
	margin-right:5px;
}
.dd .ddTitle span.textTitle {
	overflow:hidden;
	line-height:24px;
}*/
.form-left-box .dd .ddChild {
	position:absolute;
	text-align:left;
	display:none;
	margin:0;
	width:auto;
	overflow:auto;
	font-size:12px;
	color:#fff;
	overflow-x:hidden !important;
	background-color:#0197d2;
	border:none;
	/*margin-top:8px;*/ margin-left:-4px;
}
.form-left-box .dd .ddChild a {
	display:block;
	padding:0 10px 0 4px;
	text-decoration:none !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff !important;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:24px;
}
.form-left-box .dd .ddChild a:hover {
	background:#f3f3f3;
	color:#000 !important;
}
.form-left-box .dd .ddChild a.selected {
	background:#0197d2;
	color:#fff;
}

/****************************************/
.form-right-box .dd {
	/*display:inline-block !important;*/

/*	font-family:Georgia, "Times New Roman", Times, serif;
	font-size:12px;
	float:left;
	color:#0042a2;
	line-height:21px;
	font-size:15px;
	font-family:Calibri;
	padding:6px;
	background:url(../images/select_bg.png) no-repeat;
	background-position:right; loat:left; height:32px; width:269px;margin-top:5px;*/
	background:url(../images/select_box.png) no-repeat left top;
	float:left;
	height:20px;
	/*width:359px;*/
	color:#999;
	/*line-height:34px;*/
	font-size:12px;
	font-family:Arial, Helvetica, sans-serif;
	font-style:normal;
	padding:8px; 
	/*margin-bottom:24px;*/
}


.form-right-box .dd .ddChild a {
	display:block;
	padding:0 10px 0 4px;
	text-decoration:none !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff !important;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:24px;
}
/********************************************************/
.text-fell07 .dd .ddTitle {
	background:none;
	text-indent:0;
	cursor:default;
	overflow:hidden;
	text-align:left;
	height:24px;
	line-height:14px;
	cursor:pointer;
	/*padding:4px 5px;*/

}

.text-fell07 .dd .ddChild a {
	display:block;
	padding:0 10px 0 4px;
	text-decoration:none !important;
	font-family:Arial, Helvetica, sans-serif;
	font-size:12px;
	color:#fff !important;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	line-height:24px;
}
